*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background:#000;
  color:white;
}
.content{
  width: 100%;
  height:100%;
  padding: 20px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background: black;
  position: relative;
  border-radius: 15px;
  
}
.nav-links{
  display: flex;
  list-style: none;
  gap:30px;
}
.nav-links li a{
  color:white;
  text-decoration:none;
  font-size: 15px;

}
.btn{
  padding: 10px 20px;
  border: none;
  background: #1d1d1d;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}
.heading{
  text-align: center;
  margin: 50px ;
  position: relative;
}
.heading h1{
  font-size: 80px;
  font-weight: bold;
}
.categories{
 display: flex;
 justify-content: center;
 gap: 15px;
 margin-top: 30px;
 flex-wrap:wrap ;
  
}
.categories .button{
  padding: 10px 20px;
  border: none;
  background: #1d1d1d;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}
.button:active{
  background: orange;
}
.card-container{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  flex-wrap:wrap ;
  position: relative;
}
.card{
  width: 320px;
  border-radius: 20px;
  overflow: hidden;
  position:relative;
  background:#0d0d0d;
}

.card img{
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}
.card:hover{
      transform:translateY(-8px); 
}
.card-content{
  padding: 20px;
  position: relative;
}
.tag{
    display:inline-block;
    padding:5px 10px;
    background:#241616;
    color:#ff8c66;
    border-radius:15px;
    font-size:13px;
    margin-bottom:15px;
}

.card h3{
    font-size:26px;
    line-height:1.3;
    margin-bottom:20px;
}

.date{
    color:gray;
    font-size:14px;
}

.logo{
      display:flex;
      align-items:center;
      gap:10px;
      font-size:22px;
      font-weight:bold;
}
